
$black: #4A4A53
$red: #16224C
$green: #3F4F3A
$yellow: #69493E
$blue: #7D838A
$magenta: #399A60
$cyan: #CDE0F3
$white: #DEE7F1
$gray: #9BA2A8

$background: $black
$accent: $yellow
$critical: $red

$text: $white
$text_active: $black
$text_inactive: $gray
