// Base Colors (Dark & Light Variants)
$black: #000100 // Deep Background
$red: #2B4115 // Error / Critical
$green: #852B1C // Success / OK
$yellow: #95411F // Warning / Attention
$blue: #9E3A2F // Primary Accent
$magenta: #6538AA // Secondary Accent
$cyan: #B25139 // Tertiary Accent
$white: #EEE6E4 // Foreground / Text

// Bright Variants
$bright-black: #A6A19F // Muted Background
$bright-red: #39571C // Bright Error
$bright-green: #B13925 // Bright Success
$bright-yellow: #C75629 // Bright Warning
$bright-blue: #D24E3F // Bright Primary
$bright-magenta: #864AE2// Bright Secondary
$bright-cyan: #ED6C4C // Bright Tertiary
$bright-white: #EEE6E4 // Bright Foreground

$rosewater: $bright-white
$flamingo: $bright-red
$pink: $bright-magenta
$mauve: $magenta
$red: $red
$peach: $bright-yellow
$yellow: $yellow
$green: $green
$teal: $cyan
$blue: $blue
$sapphire: $bright-blue
$lavender: $bright-magenta
$text: $white
$subtext1: $bright-white
$overlay0: $black
$base: $black



// for older stuff

$color0 : #000100
$color1 : #2B4115
$color2 : #852B1C
$color3 : #95411F
$color4 : #9E3A2F
$color5 : #6538AA
$color6 : #B25139
$color7 : #EEE6E4
$color8 : #A6A19F
$color9 : #39571C
$color10 : #B13925
$color11 : #C75629
$color12 : #D24E3F
$color13 : #864AE2
$color14 : #ED6C4C
$color15 : #EEE6E4

