@import "colors.scss";

$border-radius: 0.45rem;
$bar-padding: 0.25rem;

* {
  border-radius: 0;
  border: none;

  font-family: "JetBrainsMono Nerd Font Propo", "Noto Sans CJK JP", "Noto Sans",
    "Twemoji", "liberation", "Unifont", "monospace";
  font-size: 0.85rem;
  font-weight: bolder;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: $color13;
}

#workspaces {
  margin: 0.25rem 0;
}

#workspaces button {
  border: none;
  background: $background;
  padding: 0 0.5rem;
  color: $color1;
  transition: cubic-bezier(0.175, 0.83, 0.235, 1) 500ms;
}

#workspaces button.active {
  color: $color13;
  background: $color1;
}

#workspaces button:hover {
  background-color: $color13;
  color: black;
  /*
   * GTK css doesnt support transform
   * transform: scale(1.1); 
   */
  min-width: 2rem;
}

#workspaces button.persistent {
  border: none;
}

#workspaces button:first-child {
  border-top-left-radius: 0.45rem;
  border-bottom-left-radius: 0.45rem;
}

#workspaces button:last-child {
  border-top-right-radius: 0.45rem;
  border-bottom-right-radius: 0.45rem;
}

#tray {
  margin: 0.25rem 0;
  background-color: $background;
  color: $color13;
  border-radius: 0.45rem;
  padding: 0 0.5rem;
}

#mpris {
  background: $background;
  padding: 0 0.5rem;
  border-radius: 0.45rem;
  margin: 0.25rem 0;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 200ms;
}

#mpris.playing {
  background: $color13;
  color: $color0;
}

#window {
  background: $color15;
  padding: 0 0.5rem;
  border-radius: 0.45rem;
  margin: 0.25rem 0;
  font-weight: normal;
  font-style: normal;
}

#cpu,
#memory,
#temperature,
#disk {
  background-color: $background;
  margin: 0.25rem 0;
  padding: 0 0.5rem;
  font-weight: bold;
}

#temperature {
  margin: 0.25rem 0;
}

#temperature.critical {
  background: $color13;
  color: $background;
}

#cpu {
  margin-right: 0;
  border-right: none;
}

#cpu.load {
  background: $color13;
  color: $background;
}

#memory {
  margin-left: 0;
  border-left: none;
}

#disk {
  border-top-right-radius: 0.45rem;
  border-bottom-right-radius: 0.45rem;
  margin-right: 0.5rem;
}

#clock,
#battery,
#pulseaudio,
#network,
#backlight,
#idle_inhibitor,
#custom-seperator {
  background: $background;
  padding: 0 0.5rem;
  margin: 0.25rem 0;
  border-radius: 0;
}

#network.disconnected {
  background: $color13;
  color: $background;
}

#battery.charging {
  background: $color13;
  color: $background;
}

#battery.full {
  background: $color13;
  color: $background;
}

#battery.warning {
  background: $color13;
  color: $background;
}

#battery.critical {
  background: $color13;
  color: $background;
}

#clock {
  border-top-right-radius: 0.45rem;
  border-bottom-right-radius: 0.45rem;
  margin: 0.25rem 0;
  margin-right: 0.25rem;
}

#idle_inhibitor {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 200ms;
}

#idle_inhibitor.activated {
  background: $color13;
  color: $background;
}

#pulseaudio.muted {
  background: $color13;
  color: $background;
}

#tooltip {
  background: $background;
  color: $color13;
  border-radius: 0.45rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  font-weight: bold;
  margin: 0.25rem 0;
}

#custom-notifier {
  background: $background;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0;
  border-radius: 0.45rem;
  min-width: 2rem;
}

#custom-notifier.notification {
  background: $color13;
  color: $background;
}

#custom-notifier.dnd-notification {
  background: $background;
  color: $color13;
}

#system-monitor:first-child {
  border-top-left-radius: 0.45rem;
  border-bottom-left-radius: 0.45rem;
}

#system-monitor:last-child {
  border-top-right-radius: 0.45rem;
  border-bottom-right-radius: 0.45rem;
}

#networking:first-child {
  border-top-left-radius: 0.45rem;
  border-bottom-left-radius: 0.45rem;
}

#networking:last-child {
  border-top-right-radius: 0.45rem;
  border-bottom-right-radius: 0.45rem;
}
