* {
  transition: none;
  box-shadow: none;
  font-family: 'JetBrainsMono Nerd Font Propo', 'SourceHanSans JP', 'Twemoji', 'liberation' ;
  font-size: 13px;
  color: #89CFF0;
}

#waybar{
  margin-top: 14px;;
  background: radial-gradient(circle at top ,rgba(214, 187, 187, 0.664), rgba(69, 70, 71, 0.314), rgba(69, 70, 71, 0.314) );
  border-radius: 5px;
  border: 1px solid #89CFF0;
}

#workspaces{
  margin: 0 3px;;
  color: transparent;
}

#workspaces button{
  color: rgb(49, 31, 31);
  margin: 3px 0;
  padding: 0 4px;
  transition: 750ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

#workspaces button:hover {
  background: rgba(255,255,255,0.4);
  box-shadow: inherit;
  border-radius: 2px;
}

#workspaces button.persistent {
  background: rgba(255,255,255,0.4);
}

#workspaces button.active{
  color: #927a7a;
  border-radius: 2px;
  background: rgba(10, 150, 155, 0.705);
}

#workspaces button.urgent{
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.4);
  
}

#tray {
  margin: 1px 2px;
  border-radius: 10px;
}

#tray *{
  padding: 2px;
  border-radius: 0px;
}

#tray *:first-child{
  border-left: none;
}
#tray *:last-child{
  border-right: none;
}


#mode, #battery, #cpu, #disk, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #mpris, #clock, #temperature {
  margin: 2px 1px;
  padding: 0 6px;
  border-radius: 10px;
  min-width: 10px;
  background-color: transparent;
}

#clock {
  color: black;
  margin: 4px 2px;
}

#temperature.clitical {
  color: #ff0000;
  animation-name: blink;
  animation-duration: 750ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.charging{
  color: rgb(0, 255, 85);
}

#battery.warning:not(.charging){
  color: rgb(236, 19, 19);
  
}

#battery.critical:not(.charging){
    animation-name: blink;
    animation-duration: 500ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.full:not(.discharging){
  color: rgb(255, 81, 0);
  animation-name: blink;
  animation-duration: 500ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


#tooltip {
  background: rgba(0,0,0,0.4);
  border: 1px solid #89CFF0;
}

#tooltip label{
  color: white;
}

#idle_inhibitor.activated{
  color: rgba(215, 238, 5, 0.836);
}

