* {
  transition: none;
  box-shadow: none;
  font-family: 'JetBrainsMono Nerd Font Propo', 'SourceHanSans JP', 'liberation' ;
  font-size: 12.5px;
  color: #89CFF0;
}

#waybar{
  margin-top: 14px;;
  background: rgba(52, 42, 113, 0.3);
  border-radius: 5px;
  border: 1px solid #89CFF0;
}

#workspaces{
  margin: 0 3px;;
  color: transparent;
}

#workspaces button{
  margin: 3px 0;
  padding: 0 4px;
}

#workspaces button:hover {
  background: rgba(255,255,255,0.4);
  box-shadow: inherit;
  border-radius: 5px;
}

#workspaces button.persistent {
  background: rgba(255,255,255,0.4);
}

#workspaces button.active{
  color: #c0caf5;
  border-radius: 5px;
  background-color: rgba(14, 152, 156, 0.4);
}

#workspaces button.urgent{
  border-radius: 5px;
  background: rgba(255,255,255,0.4);
}
#workspaces button.urgent * {
  color: rgba(246,71,71,0.8);
}

#tray {
  margin: 3px 3px;
  border: 5px;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.4);
}

#tray *{
  padding: 0px 6px;
  border-left: 1px solid rgb(6, 106, 163);
}

#tray *:first-child{
  border-left: none;
}


#mode, #battery, #cpu, #disk, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #mpris, #clock, #temperature {
  margin: 2px 1px;
  padding: 0 6px;
  border-radius: 10px;
  min-width: 10px;
  background-color: transparent;
}

#clock {
  margin: 4px 2px;
}

#temperature.clitical {
  color: #800020;
}

#battery.charging{
  color: rgb(26, 233, 95);
}

#battery.warning:not(.charging){
  color: rgb(236, 19, 19);
  animation-name: blink;
  animation-duration: 250ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.full{
  color: rgb(0, 255, 170);
}


#tooltip {
  background: rgba(0,0,0,0.4);
  border: 1px solid #89CFF0;
}

#tooltip label{
  color: white;
}

#idle_inhibitor.activated{
  color: rgba(255, 255, 28, 0.541);
}

