* {
  transition: none;
  box-shadow: none;
  font-family: 'JetBrainsMono Nerd Font Propo', 'SourceHanSans JP', 'liberation' ;
  font-size: 13px;
  color: #89CFF0;
}

#waybar{
  margin-top: 14px;;
  background: rgba(2, 2, 46, 0.555);
  border-radius: 5px;
  border: 1px solid #89CFF0;
}

#workspaces{
  margin: 0 3px;;
  color: transparent;
}

#workspaces button{
  margin: 3px 0;
  padding: 0 4px;
}

#workspaces button:hover {
  background: rgba(255,255,255,0.4);
  box-shadow: inherit;
  border-radius: 5px;
}

#workspaces button.persistent {
  background: rgba(255,255,255,0.4);
}

#workspaces button.active{
  color: #303136;
  border-radius: 2px;
  background: rgba(22, 50, 51, 0.705);
}

#workspaces button.urgent{
  border-radius: 5px;
  background: rgba(255,255,255,0.4);
}
#workspaces button.urgent * {
  color: rgba(246,71,71,0.8);
}

#tray {
  margin: 1px 2px;
  border-radius: 10px;
}

#tray *{
  padding: 0px 4px;
  border-radius: inherit;
}

#tray *:first-child{
  border-left: none;
}


#mode, #battery, #cpu, #disk, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #mpris, #clock, #temperature {
  margin: 2px 1px;
  padding: 0 6px;
  border-radius: 10px;
  min-width: 10px;
  background-color: transparent;
}

#clock {
  margin: 4px 2px;
}

#temperature.clitical {
  color: #ff0000;
  animation-name: blink;
  animation-duration: 750ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.charging{
  color: rgb(7, 201, 72);
}

#battery.warning:not(.charging){
  color: rgb(236, 19, 19);
  
}


#battery.full:not(.discharging){
  color: rgb(255, 81, 0);
  animation-name: blink;
  animation-duration: 1500ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


#tooltip {
  background: rgba(0,0,0,0.4);
  border: 1px solid #89CFF0;
}

#tooltip label{
  color: white;
}

#idle_inhibitor.activated{
  color: rgba(215, 238, 5, 0.836);
}

