
@define-color background_color rgba(0, 0, 0, 0.781);

* {
    transition: none;
    box-shadow: none;
    font-family: "JetBrainsMono NFP", "Noto Sans CJK JP",
        "Noto Sans", "Twemoji", "Unifont", "liberation";
    font-size: 13px;
    font-weight: 600;
    color: #89cff0;
}

window#waybar {
    background: transparent;
    background-color: @background_color;
    color: #b4f9f8;
}

#workspaces{
    color: transparent;
}


#workspaces button {
    transition: 750ms cubic-bezier(0.075, 0.82, 0.165, 1);
    color: #b4f9f8;
    padding: 0px 5px;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.0);
    border-radius: 0px;
}

#workspaces button.active {
    color: #a9b1d6;
    border-color: #89cff0;
}

#workspaces button.focused {
    border-color: #89cff0;
}

#workspaces button.urgent {
    color: white;
}

#workspaces button:hover {
    border-color: #bb9af7;
    background-color: #89cff0;
    color: black;
}



#tray {
    margin: 1px 2px;
    border-radius: 10px;
}

#tray * {
    padding: 2px;
    border-radius: 0px;
}

#tray *:first-child {
    border-left: none;
}
#tray *:last-child {
    border-right: none;
}

#mode,
#battery,
#cpu,
#disk,
#memory,
#network,
#pulseaudio,
#backlight,
#mpris,
#clock,
#temperature {
    margin: 2px 1px;
    padding: 0 5px;
    border-radius: 10px;
    min-width: 10px;
    background-color: transparent;
}

#clock {
    margin: 4px 2px;
}

#temperature.clitical {
    color: #ff0000;
    animation-name: blink;
    animation-duration: 750ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.charging {
    color: #9ece6a;
}

#battery.warning:not(.charging) {
    color: #f7768e;
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 500ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.full:not(.discharging) {
    color: #c0caf5;
    animation-name: blink;
    animation-duration: 500ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tooltip {
    color: #b4f9f8;
    background: transparent;
}

#idle_inhibitor{
    padding: 0px 5px;
}
#idle_inhibitor.activated {
    color: #F0B72F;
}


