
@use "sass:color"
@import "../../colors"

$border-radius: 0.7em
$bar-pad: 0.5em

*
    all: unset

window#waybar
    font-family: "JetBrainsMono Nerd Font Propo", "Noto Sans CJK JP", "Noto Sans", "Twemoji", "monospace"
    font-size: 0.8em
    background-color: transparent
    color: $white

button
    min-width: 30px
    min-height: 20px

tooltip
    background-color: $background
    color: $white
    padding: 1em

menu
    background-color: $background
    padding: 0.5em

.modules-left
    background-color: $background
    border-radius: $border-radius

.modules-center .module
    background-color: $background
    border-radius: $border-radius
    padding-left: $bar-pad
    padding-right: $bar-pad

    &:hover
        background-color: $white
        color: $background

.modules-right
    background-color: $background
    border-radius: $border-radius
    padding-left: $bar-pad

    & .module
        padding-left: 10px
        padding-right: 11px
        background-image: linear-gradient($white)
        background-size: 1px 60%
        background-position: 100% 50%
        background-repeat: no-repeat

#workspaces button
    color: $white
    border-radius: $border-radius

    &.urgent
        background-color: $red

    &.empty
        color: rgba(248, 248, 242, 0.2)

    &.active
        color: $background
        background-color: $white

    &:hover
        background-color: $white
        color: $background

#privacy
    padding-right: 8px
    background-image: linear-gradient($white)
    background-size: 1px 60%
    background-position: 100% 50%
    background-repeat: no-repeat

#cpu:hover,
#memory:hover,
#bluetooth:hover,
#pulseaudio:hover
    background-color: $white
    color: $background

#clock
    background-size: 0px

#tray
    & button
        padding: $bar-pad

    & label
        padding: $bar-pad

#mpris
    &.playing
        background: $white
        color: $background

    &:hover .playing
        background: $accent
        color: $white
