* {
  border-radius: 0;
  border: none;

  font-family: "JetBrainsMono NFP", "Noto Sans CJK JP", "Noto Sans", "Twemoji",
    "Unifont", "liberation";
  font-size: 12px;
  font-weight: bolder;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: #f4d9e1;
}

#workspaces {
  margin: 5px 0px;
}

#workspaces button {
  background: #282828;
  padding: 0px 5px;
  color: #928374;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 200ms;
}

#workspaces button.active {
  color: #f4d9e1;
}

#workspaces button:hover {
  background-color: #e6b9c6;
  color: black;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 200ms;
  /*
   * GTK css doesnt support transform
   * transform: scale(1.1); 
   */
  min-width: 30px;
}

#workspaces button:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
#workspaces button:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

#tray {
  margin: 5px 0px;
  background-color: #282828;
  border-radius: 12px;
  margin-right: 4px;
}

#tray * {
  margin: 1px 3px 1px 3px ;
}

#tray button {
  background: #282828;
  color: #928374;
}

#mpris {
  background: #282828;
  padding-left: 15px;
  padding-right: 14px;
  border-radius: 12px;
  margin: 5px 0px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 200ms;
}

#mpris.playing {
  background: #e6b9c6;
  color: black;
}

#window {
  background: #282828;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: normal;
  font-style: normal;
}

#cpu,
#memory,
#temperature,
#disk {
  background-color: #282828;
  margin: 5px 0px;
  padding: 0px 10px 0px 10px;
  font-weight: bold;
}

#temperature {
  margin-left: 2px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
#temperature.critical {
  background: #f78f81;
  color: black;
}

#cpu {
  margin-right: 0;
  border-right: none;
}
#cpu.load {
  background: #f78f81;
  color: black;
}

#memory {
  margin-left: 0;
  border-left: none;
}

#disk {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  margin-right: 5px;
}

#clock,
#battery,
#pulseaudio,
#network,
#backlight,
#idle_inhibitor,
#custom-seperator {
  background: #282828;
  padding: 4px;
  margin: 5px 0px;
  border-radius: 0;
}

#network {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
#network.disconnected {
  background: #e6b9c6;
  color: black;
}

#battery.charging {
  background: #e6b9c6;
  color: black;
}
#battery.full {
  background: #e7f9cf;
  color: black;
}
#battery.warning {
  background: #f78f81;
  color: black;
}
#battery.critical {
  background: #f78f81;
  color: black;
}



#clock {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  margin-right: 2px;
}
#idle_inhibitor {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 200ms;
}
#idle_inhibitor.activated {
  background: #e6b9c6;
  color: black;
}

#pulseaudio.muted {
  background: #e6b9c6;
  color: black;
}

#tooltip {
  background: #282828;
  color: #f4d9e1;
  border-radius: 12px;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  margin: 5px 0px;
}
