* {
  border-radius: 0;
  border: none;

  font-family: "JetBrainsMono NFP", "Noto Sans CJK JP", "Noto Sans", "Twemoji",
    "Unifont", "liberation";
  font-size: 12px;
  font-weight: bolder;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: #f4d9e1;
}

#workspaces {
  margin: 5px 0px;
}

#workspaces button {
  background: #282828;
  padding: 0px 5px;
  color: #928374;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 200ms;
}

#workspaces button.active {
  color: #f4d9e1;
}

#workspaces button:hover {
  background-color: #e6b9c6;
  color: black;
}

#workspaces button:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
#workspaces button:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

#tray {
  margin: 5px 5px;
}
/*
#tray * {
  background-color: #282828;
  padding: 0px 5px;
}

#tray button{
    color: #928374;
}


#tray :first-child {
  margin-left: 0px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

#tray :last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
*/

#mpris {
  background: #282828;
  padding-left: 15px;
  padding-right: 14px;
  border-radius: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  font-weight: normal;
  font-style: normal;
}

#window {
  background: #282828;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: normal;
  font-style: normal;
}

#cpu,
#memory,
#temperature,
#disk {
  background-color: #282828;
  margin: 5px 0px;
  padding: 0px 10px 0px 10px;
  font-weight: bold;
}

#temperature {
  margin-left: 2px;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

#cpu {
  margin-right: 0;
  border-right: none;
}

#memory {
  margin-left: 0;
  border-left: none;
}

#disk {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  margin-right: 5px;
}

#clock,
#battery,
#pulseaudio,
#network,
#backlight,
#idle_inhibitor,
#custom-seperator {
  background: #282828;
  padding: 4px;
  margin: 5px 0px;
  border-radius: 0;
}

#network {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

#clock {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  margin-right: 2px;
}
